<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fr3">

  <xacro:include filename="$(find franka_description)/robots/common/franka_robot.xacro"/>

  <xacro:property name="setup" value="${xacro.load_yaml('$(find prl_franka_run)/config/robot_config.yaml')}"/>
  <xacro:property name="arm_id" value="${setup['ROBOT']['arm_id']}"/>
  <xacro:property name="robot_ip" value="${setup['ROBOT']['robot_ip']}"/>
  <xacro:property name="prefix" value="${setup['ROBOT']['arm_prefix']}"/>
  <xacro:property name="load_end_effector" value="${setup['ROBOT']['load_end_effector']}"/>
  <xacro:property name="ee_id" value="${setup['ROBOT']['ee_id']}"/>
  <xacro:property name="hand" value="${setup['ROBOT']['load_end_effector']}"/>
  <xacro:property name="with_sc" value="${setup['ROBOT']['self_collision_safety']}"/>
  <xacro:property name="ee_pose" value="${setup['ROBOT']['end_effector_pose']}"/>
  <xacro:property name="xyz_ee" value="${' '.join(map(str, ee_pose['xyz']))}"/>
  <xacro:property name="rpy_ee" value="${' '.join(map(str, ee_pose['rpy']))}"/>
  <xacro:property name="ft_sensor" value="${setup['ROBOT']['force_torque_sensor']}"/>


  <!-- Multi-arm setup? -->
  <xacro:arg name="multi_arm" default="false" />

  <!-- Don't print a prefix for joints, visuals, and links? -->
  <xacro:arg name="no_prefix" default="false"/>

  <!-- Position offset between ee frame and tcp frame -->
  <xacro:arg name="tcp_xyz" default="0 0 0.1034" />

  <!-- Rotation offset between ee frame and tcp frame -->
  <xacro:arg name="tcp_rpy" default="0 0 0" />

  <!-- Safety distance for the collision capsules -->
  <xacro:arg name="safety_distance" default="0.03" />

  <!-- Is the robot being controlled with ros2_control?" -->
  <xacro:arg name="ros2_control" default="false" />

  <!-- Should a fake hardware be used? -->
  <xacro:arg name="use_fake_hardware" default="false" />

  <!-- Should fake sensors be used? -->
  <xacro:arg name="fake_sensor_commands" default="false" />

  <!-- Should the robot be spawned in Gazebo?" -->
  <xacro:arg name="gazebo" default="false" />

  <!-- Should the robot be spawned in Gazebo with effort interfaces?" -->
  <xacro:arg name="gazebo_effort" default="false" />

  <!-- Name of the description package -->
  <xacro:arg name="description_pkg" default="franka_description" />

  <!-- Append an underscore to the user-provided prefix, if non-empty. -->
  <xacro:property name="modified_prefix" value="${prefix + '_' if prefix else ''}"/>

  <xacro:arg name="use_ft_sensor" default="false"/>

  <!-- Copy in arg because franka robot uses this arg in sub macro-->
  <xacro:arg name="hand" default="${hand}"/>
  <xacro:arg name="ee_id" default="${ee_id}"/>
  <xacro:arg name="with_sc" default="${with_sc}"/>
  <xacro:arg name="xyz_ee" default="${xyz_ee}"/>
  <xacro:arg name="rpy_ee" default="${rpy_ee}"/>

  <!-- Include table-->
  <link name="base_link" />
  <joint name="base_to_table" type="fixed">
    <parent link="base_link"/>
    <child link="table_link"/>
    <origin xyz="0 0 0.68" rpy="0 0 0"/>
  </joint>

  <material name="Beige">
    <color rgba="${194/255} ${160/255} ${131/255} 1.0"/>
  </material>

  <xacro:arg name="table_scale" default="1 1 1"/>

  <link name="table_link">
      <visual>
          <origin xyz="0 0 -0.05" rpy="0 0 0"/>
          <geometry>
              <mesh filename="package://prl_franka_description/meshes/table.stl" scale="0.001 0.001 0.001"/>
          </geometry>
          <material name="Beige"/>
      </visual>
      <collision>
          <origin xyz="0 0 -0.365" rpy="0 0 0"/>
          <geometry>
              <box size="1.0 1.0 0.73"/>
          </geometry>
      </collision>
      <inertial>
          <mass value="10.0"/>
          <origin xyz="0 0 -0.050" rpy="0 0 0"/>
          <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
      </inertial>
  </link>

  <xacro:if value="$(arg gazebo)">
    <link name="${arm_id}_attachment_link"/>
  </xacro:if>
  <joint name="${arm_id}_attachment_joint" type="fixed">
    <parent link="table_link"/>
    <child link="${arm_id}_attachment_link"/>
    <origin xyz="-0.6 0 0.045" rpy="0 0 0"/>
  </joint>

  <!-- Force torque sensor -->
  <xacro:if value="${ft_sensor}">
    <xacro:include filename="$(find robotiq_ft_sensor_description)/urdf/robotiq_ft300.urdf.xacro" />
    <xacro:robotiq_ft300 parent="${modified_prefix}${arm_id}_link8" tf_prefix="${modified_prefix}">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:robotiq_ft300>
    <!-- args -->
    <xacro:arg name="use_fake_mode" default="false"/>
    <xacro:arg name="max_retries" default="100"/>
    <xacro:arg name="read_rate" default="100"/>
    <xacro:arg name="ftdi_id" default=""/>
    <!-- robotiq sensor hardware -->
    <xacro:if value="$(arg ros2_control)">
      <xacro:include filename="$(find robotiq_ft_sensor_description)/urdf/robotiq_fts.ros2_control.xacro" />
      <xacro:robotiq_fts_ros2_control
          tf_prefix="${modified_prefix}"
          use_fake_mode="$(arg use_fake_mode)"
          max_retries="$(arg max_retries)"
          read_rate="$(arg read_rate)"
          ftdi_id="$(arg ftdi_id)"
      />
    </xacro:if>
    <xacro:property name="ee_mount_parent" value="${modified_prefix}robotiq_ft_frame_id"/>
  </xacro:if>
  <xacro:unless value="${ft_sensor}">
    <xacro:property name="ee_mount_parent" value="${modified_prefix}${arm_id}_link8"/>
  </xacro:unless>
  <!-- Where is the end-effector connected to, if different from the robot flange?  -->
  <xacro:arg name="special_connection" default="${ee_mount_parent}"/>

  <xacro:if value="${ee_id == 'ball' and load_end_effector}">
    <xacro:include filename="$(find prl_franka_description)/urdf/end_effectors/ball/ball.urdf.xacro"/>
    <xacro:franka_robot
        arm_id="${arm_id}"
        joint_limits="${xacro.load_yaml('$(find franka_description)/robots/' + arm_id + '/joint_limits.yaml')}"
        inertials="${xacro.load_yaml('$(find franka_description)/robots/' + arm_id + '/inertials.yaml')}"
        kinematics="${xacro.load_yaml('$(find franka_description)/robots/' + arm_id + '/kinematics.yaml')}"
        dynamics="${xacro.load_yaml('$(find franka_description)/robots/' + arm_id + '/dynamics.yaml')}"
        gazebo="$(arg gazebo)"
        hand="false"
        ee_id="none"
        with_sc="${with_sc}"
        ros2_control="$(arg ros2_control)"
        robot_ip="${robot_ip}"
        use_fake_hardware="$(arg use_fake_hardware)"
        fake_sensor_commands="$(arg fake_sensor_commands)"
        gazebo_effort="$(arg gazebo_effort)"
        no_prefix="$(arg no_prefix)"
        arm_prefix="${modified_prefix}"
        parent="${arm_id}_attachment_link"
        connected_to="${arm_id}_attachment_link"
        xyz="0 0 0"
        rpy="0 0 0"/>

    <xacro:ball_effector
        parent="${ee_mount_parent}"
        prefix="${modified_prefix}${arm_id}"
        xyz_ee="${xyz_ee}"
        rpy_ee="${rpy_ee}"
        tcp_xyz="$(arg tcp_xyz)"
        tcp_rpy="$(arg tcp_rpy)"/>
  </xacro:if>

  <xacro:unless value="${ee_id == 'ball'}">
    <xacro:franka_robot
        arm_id="${arm_id}"
        joint_limits="${xacro.load_yaml('$(find franka_description)/robots/' + arm_id + '/joint_limits.yaml')}"
        inertials="${xacro.load_yaml('$(find franka_description)/robots/' + arm_id + '/inertials.yaml')}"
        kinematics="${xacro.load_yaml('$(find franka_description)/robots/' + arm_id + '/kinematics.yaml')}"
        dynamics="${xacro.load_yaml('$(find franka_description)/robots/' + arm_id + '/dynamics.yaml')}"
        gazebo="$(arg gazebo)"
        hand="${hand}"
        ee_id="${ee_id}"
        with_sc="${with_sc}"
        ros2_control="$(arg ros2_control)"
        robot_ip="${robot_ip}"
        use_fake_hardware="$(arg use_fake_hardware)"
        fake_sensor_commands="$(arg fake_sensor_commands)"
        gazebo_effort="$(arg gazebo_effort)"
        no_prefix="$(arg no_prefix)"
        arm_prefix="${modified_prefix}"
        parent="${arm_id}_attachment_link"
        connected_to="${arm_id}_attachment_link"
        xyz="0 0 0"
        rpy="0 0 0"/>
  </xacro:unless>
</robot>
