<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
<xacro:arg name="arm_id" default="fr3" />
    <xacro:macro name="ball_tool_group_define" params="group_name prefix arm_id">
        <group name="${group_name}">
            <link name="${prefix}${arm_id}_ball_link"/>
            <joint name="${prefix}${arm_id}_ball_joint"/>
        </group>
    </xacro:macro>

    <xacro:macro name="ball_tool_autocol" params="prefix arm_id">
    </xacro:macro>

    <xacro:macro name="ball_tool_col_with" params="prefix arm_id link">
        <disable_collisions link1="${prefix}${arm_id}_ball_link" link2="${link}" reason="Never"/>
    </xacro:macro>
</robot>
